@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Добро пожаловать в наш интернет магазин!</h1>
    <h3>Здесь вы можете выкладывать свои объявления и покупать товары!</h3>
</div>
