@using Identity_in_MVC_Task.Data;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" title="Manage"> Баланс : @ViewData["Balance"] руб.</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark"  title="Manage"> Привет, @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Выход</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Registration" asp-action="Registration">Регистрация</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Login" asp-action="Login">Вход</a>
    </li>
}
</ul>
