@model Identity_in_MVC_Task.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Создание объявления:</h1>

@*<h4>Объявление</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control">
                    <option value = " "></option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPicture" style="width: 100%;" class="control-label"></label>
                <img id="ProductPicture" style="width:350px;height:350px; object-fit:cover" src="">
                <input type="file"
                       accept="image/*"
                       asp-for="ProductPicture"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('ProductPicture').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="ProductPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                
            </div>
        </form>
    </div>
</div>

<div>
    <br/>
    <a asp-action="Index" class="btn btn-dark">Назад</a>
    <input type="submit" value="Создать" class="btn btn-primary" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
